

.navContainer{
    width: 100%;
    box-sizing: border-box;
}
.navLeft{
    height: 80px;
    width: 18%;
    box-sizing: border-box;
    float: left;
}
.navCenter{
    line-height: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 64%;
    box-sizing: border-box;
    float: left;
}
.navCenter> div{
    width: 60px;
    height: 60px;
    margin: 20px;
    color: white;
}
.navRight{
    padding: 20px;
    height: 80px;
    width: 18%;
    box-sizing: border-box;
    float: left;
    display: flex;
    flex-direction: row;
}
.logo img{
    width: 20%;
    box-sizing: border-box;
    float: left;
    height: 50px;
    border-radius: 50%;
    margin-top: -5px;
}
.navLeftBody{
    padding: 20px;
}
.search input[type='text']{
    width: 80%;
    float: left;
    box-sizing: border-box;
    border: 2px solid skyblue;
    font-size: 17px;
    color: #000;
    padding: 8px;
    border-radius: 30px;
}

.navRight img{
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.navRight button{
    padding: 10px;
    background: blue;
    color:#fff;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}